*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.insta-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: 100vh;

}

.insta-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-phone img{
    height: 50rem;
}

.insta-phone::before{

    content:"Devgram é uma rede social semelhante ao instagram, porém voltada para desenvolvedores. esta landing page está quase 100% funcional, apenas para visualização. Clique no botão continuar para ser redirecionado(a). ";
    height: auto;
    width: 180px;
    margin-right: 5px;
    background-color:#0095f6;
    position: fixed;
    font-size: 14px;
    align-self: center;
    justify-content: center;
    color: aliceblue;
    text-align: justify;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.insta-cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
   
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    max-height: 350px;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
    
}
.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    width: 6rem; 
}
.profile-photo img{
 
    height: 6rem;  
    border-radius: 50%;
 
    
}

.inst-login{
    margin: 5px;
    padding: 8px;
    background-color: #0095f6;
    text-align: center;
    color: #fff;
    border-radius: 4px;
 
}

.inst-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.group:nth-child(1){
    min-height: 19rem;
}

.insta-logo{
    height: 3rem;
}

.not-account{
    color: rgb(160, 160, 160);
}

.linkblue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2){
    background-image: url('./img/googleplay-button.png');
}

/* media queries */

@media(max-width: 1024px){
    .insta-wrapper{
        width: 90%;
 
    }

    .app-download{
        margin: 5px;
        align-items: space-evenly;
       
    }

    


}
    
        


@media(max-width: 650px){

    body{
        background-color: #fff;
    }

    .insta-wrapper{
        width: 90%; 
        flex-direction: column-reverse; 
        align-items: center;
        justify-content: space-evenly;
        
    }

    .insta-phone img{
       display: none;
    }

    .insta-phone::before{
        
        align-items: center;
        justify-content: space-between;
        min-width: 90%;
        margin: 100px;
        max-height: auto;
        
        
        
        
    }

    .insta-cont{
        width: 100%;
    }

    .group{
        border: 1px solid transparent;
    }


}
